<?xml version="1.0" encoding="utf-8" ?>
<configuration>

   
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IOpenDataService" />
                <binding name="BasicHttpBinding_ISmartHsService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8167/Design_Time_Addresses/SmartHaiShu.WcfService/OpenDataService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOpenDataService"
                contract="OpenDataServiceProxy.IOpenDataService" name="BasicHttpBinding_IOpenDataService" />
            <endpoint address="http://localhost:8167/Design_Time_Addresses/SmartHaiShu.WcfService/SmartHsService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISmartHsService"
                contract="SmartHsServiceProxy.ISmartHsService" name="BasicHttpBinding_ISmartHsService" />
        </client>
    </system.serviceModel>
</configuration>