<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SmartHaiShu.CityScreenServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <SmartHaiShu.CityScreenServices.Properties.Settings>
            <setting name="SmartHaiShu_CityScreenServices_SocialInsureService_SocialInsureService"
                serializeAs="String">
                <value>http://10.8.33.136:81/SocialInsureService.asmx</value>
            </setting>
            <setting name="SmartHaiShu_CityScreenServices_WeatherjhService_WeatherjhService"
                serializeAs="String">
                <value>http://10.8.33.136:81/WeatherjhService.asmx</value>
            </setting>
            <setting name="SmartHaiShu_CityScreenServices_TrafficVioService_TrafficVioService"
                serializeAs="String">
                <value>http://10.8.33.136:81/TrafficVioService.asmx</value>
            </setting>
        </SmartHaiShu.CityScreenServices.Properties.Settings>
    </applicationSettings>
</configuration>