<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->

    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <system.web>
    <compilation debug="true" />
  </system.web>

  <log4net>
    <!--定义输出到文件中-->
    <appender name="LogFileAppenderByDate" type="log4net.Appender.RollingFileAppender">
      <!--定义文件存放位置-->
      <file value="log\\" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd'.LOG'" />
      <param name="StaticLogFileName" value="false" />
      <!--<param name="MaxSizeRollBackups" value="-1" />
      <maximumFileSize value="10MB" />-->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline %n[%date]: 【%-5level】- [%thread] - [%logger] %n%message%n" />
        <!--<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />-->
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <!--文件形式记录日志-->
      <appender-ref ref="LogFileAppenderByDate" />
    </root>
  </log4net>
  
  
  <!-- 部署服务库项目时，必须将配置文件的内容添加到 
  主机的 app.config 文件中。System.Configuration 不支持库的配置文件。-->
  <system.serviceModel>
    <services>
      <service name="SmartHaiShu.WcfService.SmartHsService">
        <endpoint address="" binding="basicHttpBinding" contract="SmartHaiShu.WcfService.ISmartHsService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />-->
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8167/Design_Time_Addresses/SmartHaiShu.WcfService/SmartHsService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="SmartHaiShu.WcfService.OpenDataService">
        <endpoint address="" binding="basicHttpBinding" contract="SmartHaiShu.WcfService.IOpenDataService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />-->
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8167/Design_Time_Addresses/SmartHaiShu.WcfService/OpenDataService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- 为避免泄漏元数据信息，
          请在部署前将以下值设置为 false 并删除上面的元数据终结点  -->
          <serviceMetadata httpGetEnabled="True" />
          <!-- 要接收故障异常详细信息以进行调试，
          请将以下值设置为 true。在部署前设置为 false 
            以避免泄漏异常信息-->
          <serviceDebug includeExceptionDetailInFaults="False" />

          <!-- 解决问题：已超过传入消息(65536)的最大消息大小配额。若要增加配额，请使用相应绑定元素上的 MaxReceivedMessageSize 属性。 -->
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.8.3.0" newVersion="6.8.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.8.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="HsSmartEntities" connectionString="metadata=res://*/OpenDataModel.csdl|res://*/OpenDataModel.ssdl|res://*/OpenDataModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=10.254.201.62;user id=root;password=admin@r00t;persistsecurityinfo=True;database=hs_smart_0&quot;" providerName="System.Data.EntityClient" />
    <add name="SmartHsContext" connectionString="metadata=res://*/SmartHsModel.csdl|res://*/SmartHsModel.ssdl|res://*/SmartHsModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=10.254.201.62;user id=root;password=admin@r00t;persistsecurityinfo=True;database=hs_smart_0&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="HsSmartEntities" connectionString="metadata=res://*/OpenDataModel.csdl|res://*/OpenDataModel.ssdl|res://*/OpenDataModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=mysql123;persistsecurityinfo=True;database=hs_test&quot;" providerName="System.Data.EntityClient" />
    <add name="SmartHsContext" connectionString="metadata=res://*/SmartHsModel.csdl|res://*/SmartHsModel.ssdl|res://*/SmartHsModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=mysql123;persistsecurityinfo=True;database=hs_test&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.8.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup></configuration>
