<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <!--定义输出到文件中-->
    <appender name="LogFileAppenderByDate" type="log4net.Appender.RollingFileAppender">
      <!--定义文件存放位置-->
      <file value="log\\" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd'.LOG'" />
      <param name="StaticLogFileName" value="false" />
      <!--<param name="MaxSizeRollBackups" value="-1" />
      <maximumFileSize value="10MB" />-->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline %n[%date]: 【%-5level】- [%thread] - [%logger] %n%message%n" />
        <!--<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />-->
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <!--文件形式记录日志-->
      <appender-ref ref="LogFileAppenderByDate" />
    </root>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.8.3.0" newVersion="6.8.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.8.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider></providers>
  </entityFramework>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.8.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <!--<add name="HsSmartEntities" connectionString="metadata=res://*/OpenDataModel.csdl|res://*/OpenDataModel.ssdl|res://*/OpenDataModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=10.254.201.62;user id=root;password=admin@r00t;persistsecurityinfo=True;database=hs_smart_0&quot;" providerName="System.Data.EntityClient" />
    <add name="SmartHsContext" connectionString="metadata=res://*/SmartHsModel.csdl|res://*/SmartHsModel.ssdl|res://*/SmartHsModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=10.254.201.62;user id=root;password=admin@r00t;persistsecurityinfo=True;database=hs_smart_0&quot;" providerName="System.Data.EntityClient" />-->
    <add name="HsSmartEntities" connectionString="metadata=res://*/OpenDataModel.csdl|res://*/OpenDataModel.ssdl|res://*/OpenDataModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.22.30;user id=root;password=admin123;persistsecurityinfo=True;database=hs_smart&quot;" providerName="System.Data.EntityClient" />
    <add name="SmartHsContext" connectionString="metadata=res://*/SmartHsModel.csdl|res://*/SmartHsModel.ssdl|res://*/SmartHsModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.22.30;user id=root;password=admin123;persistsecurityinfo=True;database=hs_smart&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>