/* File Created: 九月 9, 2014 */
body {
    font-family: "microsoft yahei";
}
.left_bg {
    float: left;
    background-color: white;
    -moz-min-width: 260px;
    -ms-min-width: 260px;
    -o-min-width: 260px;
    -webkit-min-width: 260px;
    min-width: 260px;
    min-height: 500px;
}

.container_bg {
   background-color: #f5f5f5;
    border-width: 1px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    min-height: 750px;
   
}

.vline_spliter {
    color: #0389dc;
    padding-left: 35px;
    font-weight: bolder;
    line-height: 15px;
}
.required-field {
    font-size: 16px;
    color: red;
    font-weight: bolder;
}
#menu_list li a span 
{
    font-size: 14px;
    font-weight: bold;
}
#menu_list li:hover, li:active{
    font-weight: bold;
    color: orange;
}

#tripContainer a {
     text-decoration:none; 
}


.cell-panel-list {
    float: left;
    height: 38px;
    border-bottom-width: 0px;
    border-left-width: 0px; 
    border-top-width: 0px; 
}

.cell-panel-list-heading {
   text-align: center;
   font-weight: bold;
}
