<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="basicSmart" />
                <binding name="BasicHttpBinding_INews" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647" useDefaultWebProxy="true">
                  <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
                    maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
                  <security mode="None">
                    <transport clientCredentialType="None" proxyCredentialType="None"
                      realm="" />
                    <message clientCredentialType="UserName" algorithmSuite="Default" />
                  </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
          <endpoint address="http://localhost:2707/SmartHsService.svc/basic"
                binding="basicHttpBinding" bindingConfiguration="basicSmart"
                contract="SmartServiceReference.ISmartHsService" name="basicSmart" />
          <endpoint address="http://10.254.208.100/CityInfoScreenWcf.News.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INews"
        contract="ScreenNewsService.INews" name="BasicHttpBinding_INews" />
            
        </client>
    </system.serviceModel>
</configuration>